{{>header}}
    
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="img/eu02.jpg" alt="Foto do Fabricio">
            <h1>Fabricio Barreto</h1>
            <div class="social-links mt-2 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/fabricio-barreto-nogueira-876776208/"><i class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/Fabricio-Barreto"><i class="bi bi-github"></i></a>
                <a target="_blank" href="https://steamcommunity.com/profiles/76561198071253513/"><i class="bi bi-steam"></i></a>
                <a target="_blank" href="https://www.instagram.com/barreto.fabricio/"><i class="bi bi-instagram"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#"><i class="bi bi-house"></i>Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-person"></i>Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-list-check"></i>Habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-file-earmark"></i>Currículo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-collection"></i>Portfólio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-envelope"></i>Contato</a>
            </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Fabricio Barreto</h2>
                <span id="subtitle" class="text-white text-shadow">Desenvolvedor, Programador e Estudante</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end" id="arraste">
                <a href="" class="text-white text-shadow"><i class="bi bi-arrow-down text-white"></i>Arraste para mais</a>
            </div>
        </section>

    </main>
    

{{>footer}}

    